<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AluraGeek</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="../assets/css/register_product.css">
    <link rel="stylesheet" href="../assets/css/index.css">
</head>

<body>
    <div class="conatiner-fluid" id="nav">
        <div class="container p-2">
            <nav class="navbar-expand">
                <div class="row d-flex" id="navbar">
                    <div class="col-3 d-lg-flex d-md-flex d-sm-none" id="logo-nav">
                        <a class="navbar-brand text-reset" href="index.html"><img class="img-fluid"
                                src="../assets/img/Vector.png"><strong
                                class=" text-primary">Alura</strong><strong>Geek</strong></a>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-9" id="filtro-producto">
                        <form action="/views/search.html" method="GET" class="d-flex">
                            <input class="form-control me-lg-2 me-sm-0" type="search" placeholder="Search"
                                aria-label="Search" name="category">
                            <button class="btn btn-outline-success" type="submit">Search</button>
                        </form>
                    </div>
                    <div class="col-lg-3 col-sm-3 text-end" id="login-nav">
                        
                    </div>
                </div>
            </nav>
        </div>
    </div>



    <main>
        <div class="container-fluid d-lg-none d-md-none d-sm-flex" id="titulo-inicio">
            <div class="row justify-content-center text-center">
                <div class="col-sm-9 d-flex">
                    <img style="height:50px ;" class="img-fluid pt-2 pe-2" src="../assets/img/Vector.png"><h1><a class="navbar-brand text-reset" href="./views/index.html"><strong style="font-size:50px ;" class=" text-primary">Alura</strong><strong style="font-size:50px ;">Geek</strong></a></h1>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6 col-md-10 col-sm-12 text-center m-5 " >
                    <h2>Iniciar Sesión</h2>
                    <div>
                        <form class="flex flex--column" data-form>
                            <div class="input-container">
                                <input name="email" id="email" class="input" type="email" placeholder="URL"  required data-email />
                                <label class="input-label" for="img">Email</label>
                                <span class="input-menssage-error"></span>
                            </div>
                            <div class="input-container">
                                <input name="password" id="password" class="input" type="password"
                                    placeholder="Nombre Producto" required data-password />
                                <label class="input-label" for="producto">Password</label>
                                <span class="input-menssage-error"></span>
                            </div>
                            <button type="submit" class="btn btn-primary" id="add-product">Entrar</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>




        <div class="container-fluid" id="info-contacto">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-sm-9">
                        <h4 class="text-reset"><img class="img-fluid" src="../assets/img/Vector.png"><strong
                                class=" text-primary">Alura</strong>Geek </h4>
                    </div>
                    <div class="col-lg-3 col-sm-9" id="politicas">

                        <p>Quiene Somos</p>
                        <p>Politica de privacidad</p>
                        <p>Programa de fidelidad</p>
                        <p>Nuestrás Tiendas</p>
                        <p>Quiero ser franquiciado</p>
                        <p>Anuncie aqui</p>

                    </div>
                    <div class="col-lg-5 col-sm-9">
                        <h5><strong>Hable con nosotros</strong> </h5>
                        <form action="." data-form>
                            <div>
                                <input class="border border-0" type="text" placeholder="Nombre" minlength="3" maxlength="40" id="input" data-tipo="nombre">
                                <span class="input-message-error"></span>
                            </div>
                            <div>
                                <textarea name="mensaje" id="" cols="30" rows="4" class="border border-0 mt-2"
                                    placeholder="Escribe el mensaje aqui" maxlength="120" id="textarea"
                                    data-tipo="mensaje"></textarea>
                                <span class="input-message-error"></span>
                            </div>

                            <button type="submit" class="btn btn-primary">Enviar Mensaje</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        
    </main>


    <footer class="text-center p-3">
        <h6>Desarrollado por Nestor Gentil</h6>
        <span>2022</span>
    </footer>

    <!-------------------------------SCRIPT-------------->

    <script type="module" src="../controllers/admin/login.js"></script>
    <!------------------------->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
        integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
        integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
        crossorigin="anonymous"></script>
</body>

</html>